@using Actores.Data

<div class="actor-card">
    <h2></h2>
    <img src="@ActorP.FotoUrl" class="card-img-top" alt="Foto del actor" width="300px" height="200px"/>
    <div class="card-body">
        <h5 class="card-title">@ActorP.Nombre</h5>
        <p class="card-text">@ActorP.Biografia</p>
        <a href="#" class="btn btn-primary">Mas Detalles del Actor</a>
    </div>
</div>

@code {
    [Parameter]
    public Actores.Data.Actor ActorP { get; set; } = new Actores.Data.Actor ();
}
