
h3 {
    color: #3498db;
    background-color: #3498db;
    font-family: 'Arial', sans-serif;
}


label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #2980b9;
    }

/* ActorCardStyles.css */


.actor-card {
    display: inline-block;
    margin: 120px;
}

.actor-image {
    max-width: 100%;
    border-radius: 10px;
}

.card-title {
    color: #3498db;
}

.card-text {
    color: #555;
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}

    .btn-primary:hover {
        background-color: #2980b9;
        border-color: #2980b9;
    }
