@page "/actorpage"
@using Actores.Data
@using Actores.Pages.Componentes

<div class="actor-list">
    <h2 class="title">Bienvenidos al perfil actores</h2>
    <div class="actor-container">
        @foreach (var actor in ActorList)
        {
            <ActorCard Actor="actor" />
        }
    </div>
</div>

@code {
    List<Actor> ActorList;

    protected override void OnInitialized()
    {
        ActorList = new List<Actor>
        {
            new Actor { Nombre = "Victor German", Biografia = "Víctor es un actor talentoso conocido por su versatilidad y carisma en la pantalla, destacándose por interpretaciones cautivadoras y memorables en diversas producciones cinematográficas y televisivas.", FotoUrl = "https://lh3.googleusercontent.com/proxy/3Z4TBlA0f9goZLUmhAK-TusF97i8YL0P9CAXKezCYpHKj7cmEaa3uwQlkX01lDPUOuLJ1d01GxlyY13bUbI9P1MMl-JMhbDGTUxGhBl46qV6yDpAV8BQQkq_36uW8ocPv6RGE4NTZCTu99Y" },
            new Actor { Nombre = "Yunior Padilla", Biografia = "Yunior, actor destacado por su energía magnética y habilidades expresivas, ofrece actuaciones cautivadoras que cautivan al público con su presencia carismática y versatilidad.", FotoUrl = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVhDnbofoOYYH3xilg3pMFYuH7RLjp1vDiTg&usqp=CAU" }
        };
    }
}


