@page "/actorpage"
@using Actores.Data
@using Actores.Pages.Componentes

<div class="actor-list">
    <h2 class="title">Bienvenidos al perfil actores</h2>
    <div class="actor-container">
        @foreach (var actor in ActorList)
        {
            <ActorCard Actor="actor" />
        }
    </div>
</div>

@code {
    List<Actor> ActorList;

    protected override void OnInitialized()
    {
        ActorList = new List<Actor>
        {
            new Actor { Nombre = "Victor German", Biografia = "Víctor es un actor talentoso conocido por su versatilidad y carisma en la pantalla, destacándose por interpretaciones cautivadoras y memorables en diversas producciones cinematográficas y televisivas.", FotoUrl = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.parquedelconocimiento.com%2Findex.php%2Fcomponent%2Fcontent%2Farticle%2F89-espectaculos%2F2361-pantera-negra-un-superheroe-afroamericano-llega-al-imax%3FItemid%3D437&psig=AOvVaw3O-FZc_wl5e1onDzfi61C6&ust=1707752795976000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPDM6YvRo4QDFQAAAAAdAAAAABAE" },
            new Actor { Nombre = "Yunior Padilla", Biografia = "Yunior, actor destacado por su energía magnética y habilidades expresivas, ofrece actuaciones cautivadoras que cautivan al público con su presencia carismática y versatilidad.", FotoUrl = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tomatazos.com%2Fnoticias%2F897767%2FJohnny-Depp-si-regresaria-a-Piratas-del-Caribe-6-bajo-una-extrana-condicion&psig=AOvVaw3rqq6OZzQ1W3oo1cogc22e&ust=1707753460010000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPCHtMjTo4QDFQAAAAAdAAAAABAE" }
        };
    }
}
